.loginButton{
    display: flex;
    justify-content: flex-end;
}

.loginCard{
    padding: 40px 0;
    margin: auto;
    width: 50%;
}

mat-form-field{
    width: 100%;
}

mat-spinner {
    margin: auto;
}