table {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.input-field{
  width: 300px;
  height: 20px;
}

.icon {
  background: url('../assets/icons/baseline_delete_black_18dp.png');
  height: 16px;
  width: 16px;
  display: block;
  background-size: 100% 100%;
  /* Other styles here */
}
