<!--Add form to add transaction-->
<mat-card *ngIf="loaded">
<h2>{{house.name}} : </h2><a *ngIf="netValue"> Net Value: {{netValue}} €</a>

<!--Add title of the house and something like a Jumbotron with different graphics for analysis-->

</mat-card>
<mat-accordion>
  <mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add a new entry ...
    </mat-panel-title>
  </mat-expansion-panel-header>

    <form (submit)="onSaveForm(transactionForm)" #transactionForm="ngForm">
      <div class="flex-container">
        
        <div>
          <mat-label>Value  </mat-label>
          <mat-form-field class="input-field" appearance="outline">
            <input matInput name="value" placeholder="480 €" [(ngModel)] = "value" required>
          </mat-form-field>
        </div>
        
        <div>
          <mat-label>Short description  </mat-label>
          
          <mat-form-field class="input-field" appearance="outline">
            <input matInput name="short_description" placeholder="1 week booking" [(ngModel)] = "short_description" required>
          </mat-form-field>
        </div>
        
        <div>
          <mat-label>Long description  </mat-label>
          <mat-form-field class="input-field" appearance="outline">
            <input matInput name="long_description" placeholder="Booking with reservation id: 2790359852" [(ngModel)] = "long_description" required>
          </mat-form-field>
        </div>
        
      </div>
      <div class="flex-container">

        <div>
          <mat-form-field >
            <mat-label>Reservation?</mat-label>
            <mat-select [formControl]="reservationOptionsControl" [(value)]="reservationOptionSelected" >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let reservationOption of reservationsOptions" [value]="reservationOption">
                {{reservationOption.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-label>Reservation code</mat-label>
          <mat-form-field class="input-field" appearance="outline">
            <input matInput name="reservation_code" placeholder="2790359852" [(ngModel)] = "reservation_code">
          </mat-form-field>
        </div>

        <!--Add new form entries here-->
        
        <div class="add-button">
          <br>  
          <button mat-flat-button color="primary" type="submit">Add</button>
        </div>
      </div>
    </form>

</mat-expansion-panel>
</mat-accordion>

<mat-table [dataSource]="transactions" class="mat-elevation-z8">

    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell *matCellDef="let transaction">
        <button (click)="onDeleteTableEntry(transaction.id, transaction.value)" mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.date}} </mat-cell>
    </ng-container>
  
    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.value}} € </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> 
        <button #transaction (click)="onButtonClick(transaction)" mat-button matTooltip="{{transaction.long_description}}">
          {{transaction.short_description}} 
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>