<mat-card *ngIf="loaded">
  <div class="flex-context-menu-container">
    <h2 *ngIf="house">{{house.name}} : </h2>
  
    <div class="context-menu" >
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="managersmenu">Managers</button>
      </mat-menu>

      <mat-menu #managersmenu="matMenu">
        <button mat-menu-item *ngFor="let manager of house.managers" (click)="openRemoveManagerDialog(manager)"> <mat-icon>person_remove</mat-icon> {{manager}}</button>
        <button mat-menu-item (click)="openAddManagerDialog()" > <mat-icon>person_add</mat-icon> Add Manager </button> <!--Add a new icon for this-->
      </mat-menu> 
    </div>
  </div>
  
  <br>
  <a *ngIf="netValue"> Net Value: {{netValue}} €</a>
</mat-card>

<mat-accordion>
  <mat-expansion-panel hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Charts
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="chart-row">
      <div class="column left">
        <ngx-charts-line-chart
        [scheme]="chart1_options.colorScheme"
        [showXAxisLabel]="chart1_options.showXAxisLabel"
        [showYAxisLabel]="chart1_options.showYAxisLabel"
        [xAxis]="chart1_options.xAxis"
        [yAxis]="chart1_options.yAxis"
        [xAxisLabel]="chart1_options.xAxisLabel"
        [yAxisLabel]="chart1_options.yAxisLabel"
        [results]="chart1_results"
        >
      </ngx-charts-line-chart>
    </div>
    
    <div class="column middle">
      <ngx-charts-line-chart
      [scheme]="chart2_options.colorScheme"
      [showXAxisLabel]="chart2_options.showXAxisLabel"
      [showYAxisLabel]="chart2_options.showYAxisLabel"
      [xAxis]="chart2_options.xAxis"
      [yAxis]="chart2_options.yAxis"
      [xAxisLabel]="chart2_options.xAxisLabel"
      [yAxisLabel]="chart2_options.yAxisLabel"
      [results]="chart2_results"
      >
    </ngx-charts-line-chart>
    </div>
    
    <div class="column right">
      <ngx-charts-pie-chart
      [scheme]="chart3_options.colorScheme"
      [doughnut]="chart3_options.doughnut"
      [legend]="chart3_options.legend"
      [results]="chart3_results"
      >
    </ngx-charts-pie-chart>
    </div>  
    
  </div>
  
  <div>
    <mat-checkbox [(ngModel)]="cumulative_checkbox" (ngModelChange)="ParseChartData()">Cumulative charts</mat-checkbox>
  </div>

</mat-expansion-panel>
</mat-accordion>

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Add new transaction</mat-panel-title>
  </mat-expansion-panel-header>
  
  <form (submit)="onSaveForm(transactionForm)" #transactionForm="ngForm">
    <div class="flex-transaction-container">

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="date" name="date" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      
      <div>
        <mat-label>Value  </mat-label>
        <mat-form-field class="input-field" appearance="outline">
        <input matInput name="value" placeholder="480 €" [(ngModel)] = "value" required>
        </mat-form-field>
      </div>
      
      <div>
        <mat-label>Description  </mat-label>
        <mat-form-field class="input-field" appearance="outline">
        <input matInput name="description" placeholder="1 week booking" [(ngModel)] = "description" required>
        </mat-form-field>
      </div>
      
      <div>
        <mat-label>Additional information  </mat-label>
        <mat-form-field class="input-field" appearance="outline">
        <input matInput name="additional_information" placeholder="Booking with reservation id: 2790359852" [(ngModel)] = "additional_information" required>
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Add reservation details</mat-panel-title>
        </mat-expansion-panel-header>
         
        <div class="flex-reservation-container">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Booking Agent</mat-label>
              <mat-select [formControl]="reservationOptionsControl" [(value)]="reservationOptionSelected" >
                <mat-option>--</mat-option>
                <mat-option *ngFor="let reservationOption of reservationsOptions" [value]="reservationOption">
                  {{reservationOption.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>       
        
          <div>
            <mat-label>Reservation code</mat-label>
            <mat-form-field class="input-field" appearance="outline">
              <input matInput name="reservation_code" placeholder="2790359852" [(ngModel)] = "reservation_code">
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div>
      <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Add periodicity details</mat-panel-title>
        </mat-expansion-panel-header>
         
        <div class="flex-reservation-container">
          <!--
        <mat-form-field appearance="outline">
          <mat-label>End date</mat-label>
          <input matInput [(ngModel)]="end_date" name="end_date" [matEndDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
          -->
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Periodicity</mat-label>
            <mat-select [formControl]="periodicityOptionsControl" [(value)]="periodicityOptionSelected" >
              <mat-option *ngFor="let periodicityOption of periodicityOptions" [value]="periodicityOption">
                {{periodicityOption.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>       

        </div>
      </mat-expansion-panel>
      </mat-accordion>
    </div>



      <!--Add new form entries here-->
      <br>
      <div class="add-button">
        <button mat-flat-button color="primary" type="submit">Add</button>
      </div>
  </form>
  
</mat-expansion-panel>
</mat-accordion>

<mat-table [dataSource]="transactions" matSort class="mat-elevation-z8" >
  
  <!-- Action Column -->
  <ng-container matColumnDef="Action">
    <mat-header-cell *matHeaderCellDef> Completed  </mat-header-cell>
    <mat-cell *matCellDef="let transaction">
      <button (click)="toggleTransactionCompletion(transaction)" *ngIf="transaction.completed" mat-mini-fab class="completed-button-success">
        <mat-icon>check</mat-icon>
      </button>
      <button (click)="toggleTransactionCompletion(transaction)" *ngIf="!transaction.completed" mat-mini-fab class="completed-button-failure">
        <mat-icon>check</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="Date">
    <mat-header-cell *matHeaderCellDef mat-sort-header="Date"> 
      <button mat-icon-button (click)="toggleSort('Date')" >Date</button>
        <mat-icon *ngIf="sortByDate && sortByAscending">arrow_drop_up</mat-icon>
        <mat-icon *ngIf="sortByDate && !sortByAscending">arrow_drop_down</mat-icon>
    </mat-header-cell>
    <mat-cell *matCellDef="let transaction"> {{transaction.date_string}} </mat-cell>
  </ng-container>
  
  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef mat-sort-header="value"> 
      <button mat-icon-button (click)="toggleSort('Value')" >Value</button>
      <mat-icon *ngIf="!sortByDate && sortByAscending">arrow_drop_up</mat-icon>
      <mat-icon *ngIf="!sortByDate && !sortByAscending">arrow_drop_down</mat-icon>
    </mat-header-cell>
    <mat-cell *matCellDef="let transaction"> {{transaction.value}} € </mat-cell>
  </ng-container>
  
  <!-- Short descirption Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header="description"> Description </mat-header-cell>
    <mat-cell *matCellDef="let transaction"> 
      <button #transaction (click)="onButtonClick(transaction)" mat-button matTooltip="{{transaction.additional_information}}">
        {{transaction.description}} 
      </button>
    </mat-cell>
  </ng-container>
  
    <!-- options Column -->
    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef mat-sort-header="options"> </mat-header-cell>
      <mat-cell *matCellDef="let transaction">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onDeleteTableEntry(transaction)" class="deleted-transaction-button">
              <mat-icon class="deleted-transaction-button" >delete</mat-icon> Delete 
            </button> <!--Add a new icon for this-->
        </mat-menu>

      </mat-cell>
    </ng-container>
    
   
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>