table {
  width: 100%;
}

.flex-context-menu-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.context-menu{
  float: right;
}

.flex-transaction-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.flex-reservation-container {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.column{
  height: 300px;
  float: left;
}

.left{
  width: 33%;
}

.middle{
  width: 33%;
}

.right{
  width: 33%;
}

.chart-row{
  height: 50px;
}

.input-field{
  width: 300px;
  height: 20px;
}

.icon {
  background: url('../assets/icons/baseline_delete_black_18dp.png');
  height: 16px;
  width: 16px;
  display: block;
  background-size: 100% 100%;
  /* Other styles here */
}

.mat-column-Action {
  flex: 0 0 80px;
}

.mat-column-Date {
  flex: 0 0 210px;
}
.mat-column-value {
  flex: 0 0 70px;
}

.mat-column-options{
  display: flex;
  justify-content: flex-end;
}

.completed-button-success{
  color: honeydew;
  background-color: green;
}

.completed-button-failure{
  color: green;
  background-color: honeydew;
}

.deleted-transaction-button{
  color: crimson;
  background-color: white;
}