.headerLogo{
   width: auto;
}

.logoButton{
   width: 150px;
   height: max-content;
}

img{
   width: 100%;
   height: auto;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }