<mat-accordion multi="true" *ngIf="houses.length>0 && userIsAuthenticated">
  <mat-expansion-panel *ngFor="let house of houses">
    <mat-expansion-panel-header>
      {{house.name}} : {{house.id}}
    </mat-expansion-panel-header>
    <div>
      Adress: {{house.adress}}
      <br>
      Location: {{house.location}}
      <br>
      <div class="buttons">
        <a mat-flat-button color="primary" [routerLink]="['/house',house.id]">Details</a>
        <a mat-flat-button class="export-button" (click)="onExportButton(house)" >Export</a>
        <a mat-flat-button class="delete-button" (click)="onDeleteButton(house)" >Delete</a>
      </div>
    </div>
      
  </mat-expansion-panel>
</mat-accordion>